 /* Google fonts import */ 
 @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@279&family=Montserrat&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

   /* General styles */
body {
    background-color: #3a3a3a;
min-height: 100vh;
display: flex;
flex-direction: column;
/* Generic project styles */
color: #d6d4d4;
font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3  {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}


/* Header */
header {
    background-color:  rgba(25, 25, 25, 0.9);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
text-decoration: none;
color: inherit;
}

 #menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
 }
 #menu > li {
    margin-bottom: 1em;
 }
    .active {
        border-bottom: 1px solid #d6d4d4;
    }
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(25, 25, 25, 0.9);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    display: none;
    top: 100%;
    }

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}
#cover-text {
    background-color: rgba(74, 74, 74, 0.9);
    position: absolute;
    font-size: 130%;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
/* Inner main */
#inner-main {
width: 90%;
margin: 20px auto;
}

#inner-main h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#Reasons-to-capture>div, #Reasons-to-choose-us>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#Reasons p {
    padding: 0 20px;
}
 
hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url(../images/reasons-image.webp) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
 #reasons-image {
    display: flex;
    align-items: center;
    justify-content: center;
 }

/* Meetup times section*/
#times {
    background: url(../images/london.image.webp) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid lightgray;
}
/* Gallery page */ 
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos{
line-height: 0;
}
/* Form */
#contact-us {
    background: url("../images/contact-us.image.jpg");
    background-size: cover;
        background-position: 75%;
        padding: 20px 10% 0 10%;
        flex-grow: 1;
}
#contact-us-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    text-align: center;
}


#contact-us-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.run-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #fafafa;
    color: #3a3a3a;
}

/* Footer */
footer{
    background-color: #3a3a3a;
}
#social {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social i {
    font-size: 160%;
    padding: 5%;
    color: #d6d4d4
}

/* Media query: large and landscape phones (576px and up) */ 
@media screen and (min-width: 576px) {
    #photos {
column-count: 2;
column-gap: 0;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
/* Main content */
main {
    /* Push main content down to accommodate larger header */
    margin-top: 79px;
 }
 /* Hero */
#cover-text {
    width: 350px;
    right: 50px;
 }
/* Inner main section*/
#Reasons-to-capture,
 #Reasons-to-choose-us {
    display: flex;
    flex-direction: column;
    width: 100%;
 }

 #Reasons-to-capture > div,
 #Reasons-to-choose-us > div {
    width: 75%;
 }

 #Reasons-to-choose-us>div {
    text-align: end;
    align-self: flex-end;
 }
/* Gallery */ 
#photos {
    column-count: 3;
  }
/* Form */
  #contact-us {
    background-position: center;
        position: relative;
  }

  #contact-us-form {
    max-width: 400px;
        position: absolute;
        left: 10%;
        top: 10px;
  }

.text-input:hover {
    border-color: #ff0000;
}

.run-button:hover {
    background-color: #fafafa;
    color: #ff0000;
}
}



/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #d6d4d4;
    
    /* Gallery */
#photos {
    column-count: 4;
}
    }

}
@media screen and (min-width: 1200px) {
    #Reasons {
        display: flex;
        flex-direction: row;
    }
  #Reasons > div {
    flex: 1;
  }
 #reasons-image {
    order: 0;
 }
#Reasons-to-choose-us {
    order: 1;
}
 #Reasons-to-choose-us > div {
    align-self: flex-start;
 }

 #Reasons-to-capture  > div {
align-self: flex-end;
 }
}
